.board-box {
  cursor: pointer;
  border-bottom: 1px solid #aaaaaa;
  padding: 0 0 0.3rem 0;
  p {
    margin: 0.5rem 0;
    span {
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
  &:hover {
    background-color: #eeeeee;
  }
}
