<router-outlet></router-outlet>

<mat-card *ngIf="newsList">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>
      뉴스 목록
    </mat-card-title>
    <button mat-raised-button mat-button-sm color="accent" (click)="gotoWrite()" style="margin: 0 1rem 0 0;">
      <mat-icon>create</mat-icon>글쓰기
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="board-box" fxLayout="column" *ngFor="let news of newsList"
         (click)="gotoView(news)">
      <p fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{news.title}}</span><span>{{news.created}}</span>
      </p>
    </div>
    <!--페이지네이션-->
    <mat-paginator [length]="page.totalCount"
                   [pageSize]="page.pageSize"
                   [pageIndex]="page.pageIndex"
                   [pageSizeOptions]="page.pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
